openapi: 3.0.3
info:
  title: Qwilt CDN Certificate Manager Certificate Templates Certificates API
  version: v2
  description: The Qwilt Certificate Manager API manages TLS certificates, certificate templates, and certificate signing request (CSR) workflows used to secure Qwilt CDN sites. Endpoints, methods, paths, and the authentication model were transcribed faithfully from Qwilt's open-source Terraform provider client (github.com/Qwilt/terraform-provider-qwilt, qwilt/cdn/client). Object shapes are left open where the full body is not publicly published, rather than invented.
  contact:
    name: Qwilt Support
    email: support@qwilt.com
    url: https://docs.qwilt.com/docs/certificate-management-1
  license:
    name: Proprietary
servers:
- url: https://cert-manager.cqloud.com
  description: Qwilt CDN production (Certificate Manager host)
security:
- apiKeyAuth: []
- bearerAuth: []
tags:
- name: Certificates
  description: TLS certificates
paths:
  /api/v2/certificates:
    get:
      operationId: listCertificates
      tags:
      - Certificates
      summary: List certificates
      responses:
        '200':
          description: A list of certificates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCertificate
      tags:
      - Certificates
      summary: Create a certificate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '201':
          description: Certificate created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/certificates/{certId}:
    parameters:
    - $ref: '#/components/parameters/CertId'
    get:
      operationId: getCertificate
      tags:
      - Certificates
      summary: Get a certificate
      responses:
        '200':
          description: The certificate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateCertificate
      tags:
      - Certificates
      summary: Update a certificate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '200':
          description: Certificate updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCertificate
      tags:
      - Certificates
      summary: Delete a certificate
      responses:
        '200':
          description: Certificate deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource does not exist.
    Unauthorized:
      description: Authentication is missing or invalid.
    BadRequest:
      description: The request was malformed.
  parameters:
    CertId:
      name: certId
      in: path
      required: true
      schema:
        type: string
      description: The certificate identifier.
  schemas:
    Certificate:
      type: object
      description: A TLS certificate managed by Qwilt.
      additionalProperties: true
      properties:
        certId:
          type: string
        certificateManagerType:
          type: string
          description: e.g. self-managed or Qwilt-managed.
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key sent as `Authorization: X-API-KEY <api-key>`.'
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from the login service (cqloudLoginToken).
x-provenance:
  generated: '2026-07-20'
  method: derived
  source: https://github.com/Qwilt/terraform-provider-qwilt/tree/main/qwilt/cdn/client
